<%= form_for @user do |f| %>
  <div class="field">
  	Name
    <%= f.text_field :name %>
    </div>
    <%= f.country_select :country %>
  <div class="field">
  	Number
    <%= f.text_field :phone_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>